/* * {
  border: 1px solid black;
} */

.Body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 auto;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

path:hover {
  fill-opacity: 1;
  z-index: 100;
}

circle {
  z-index: 100;
}

.list-group {
  max-height: 45vh;
  overflow-y: auto;
}

.Body__container {
  width: auto;
  height: auto;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.Body__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.Symptoms__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.svg-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* @media screen and (max-width: 320px) {
  #anawrapper svg {
    height: 90vh;
  }
  #anatip {
    max-width: 40%;
  }
  #anatip img {
    max-width: 95%;
  }
}
@media screen and (max-width: 400px) and (min-width: 321px) {
  #anawrapper svg {
    height: 90vh;
  }
}
@media screen and (max-width: 480px) and (min-width: 401px) {
  #anawrapper svg {
    height: 90vh;
  }
}
@media screen and (max-width: 568px) and (min-width: 481px) {
  #anawrapper svg {
    height: 90vh;
  }
}
@media screen and (min-width: 569px) {
  #anawrapper svg {
    height: 90vh;
  }
} */
